services:
  foobar:
    container_name: foobar
    build: ..
    restart: always
    environment:
      FALLBACK_PROXY: ${FALLBACK_PROXY:-}
      SSH_HOST: ${SSH_HOST:-}
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      UMASK: ${UMASK:-022}
      TZ: ${TZ:-UTC}
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./volume:/etc/caddy
    depends_on:
      - whoami
      - whoami2

  whoami:
    image: "katacoda/docker-http-server:v1"
    container_name: whoami
    labels:
      caddy.0.domain: test1.localhost
      caddy.0.port: 253
      caddy.1.domain: test2.localhost:234
      caddy.1.port: 2314

  whoami2:
    image: "katacoda/docker-http-server:v2"
    container_name: whoami2
    labels:
      caddy.0.domain: test3.localhost
      caddy.0.paths: foo:1234,bar:324
